.pictures-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1400px;
}


.pictures {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: space-evenly;
}


.upload-button {
    width: 25%;
    min-width: 400px;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 20px;
    margin-left: 1rem;
    font-weight: bold;
}

.upload-button:hover {
    background-color: rgb(1, 80, 80);
}

.picture {
    min-height: 200px;
    min-width: 200px;
    height: 400px;
    width: 400px;
    margin-bottom: 1rem;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 5px;
    transition: transform .5s, box-shadow .5s ease-in-out;
}

.picture:hover {
    cursor: pointer;
    box-shadow: 0px 3px 8px 5px rgba(0,0,0,.5);
    transform: translateY(-5px);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-label {
    background-color: teal;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: white;
    height: 2rem;
    width: 200px;
    text-align: center;
    font-weight: bold;
}

.input-label:hover {
    background-color: rgb(0, 82, 82);
    cursor: pointer;
}

progress {
    border: 1.5px solid teal;
    border-radius: 5px;
    width: 100%;
    height: 1rem;
}

.progress-div {
    width: 50%;
    margin: auto;
    height: 2rem;
    padding-bottom: 1rem;
}

.icon {
    margin-left: .5rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.imageModalContents {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    max-height: 90vh;
}

.imageModalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.modalImage {
    height: auto;
    width: 50%;
    max-height: 90vh;
    border-radius: 5px;
    border: 1px solid ghostwhite;
    margin-left: 2rem;
}

.modalCloseButton {
    display: block;
    background-color: red;
    width: 50%;
    height: 2rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: auto;
    margin-top: 1rem;
}

.modalCloseButton:hover {
    background-color: rgb(173, 2, 2);
}

.comment-wrapper {
    width: 50%;
    min-height: 100%;
    margin: 0 2rem 0 2rem;
}

.comment-div {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: ghostwhite;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid ghostwhite;
    border-bottom: none;
    padding-bottom: 1px;
}

.comment-div-small {
    width: 100%;
    height: 100%;
    background-color: ghostwhite;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid ghostwhite;
    border-bottom: none;
    margin-bottom: 1rem;
}

.image-buttons-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.comment-edit-btn {
    width: 50%;
    height: 100%;
    color: white;
    background-color: green;
    border: none;
    font-size: 17px;
    border-bottom-left-radius: 5px;

}

.comment-edit-btn:hover {
    background-color: rgb(0, 88, 0);
}

.image-delete-btn {
    width: 50%;
    height: 100%;
    color: white;
    background-color: red;
    border: none;
    font-size: 17px;
    border-bottom-right-radius: 5px;
}

.image-delete-btn:hover {
    background-color: rgb(161, 4, 4);
}

.comment-p {
    height: 80%;
    width: 100%;
}

.edit-area-2 {
    display: block;
    width: 97%;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    background-color: ghostwhite;
    font-size: 16px;
    height: 100%;
    margin: 0 .5rem 0 .5rem;
}


.edit-div {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem 0 .5rem;
    height: 100%;
}

.edit-save-btn {
    width: 2rem;
    height: 2.5rem;
    background-color: green;
    border: none;
    border-radius: 5px;
    margin-left: .5rem;
}

.edit-save-btn:hover {
    background-color: rgb(1, 85, 1);
}

textarea {
    resize: none;
    outline: none;
}

.arrow-btns-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;
}

.arrow {
    height: 2.5rem;
    width: 4rem;
    background-color: teal;
    border: none;
    border-radius: 5px;
}

.arrow-left {
    margin-right: 1rem;
}

.arrow:hover {
    background-color: rgb(0, 95, 95);
}

.picture-comment-input {
   display: block;
   width: 75vw;
   max-width: 1400px;
   background-color: transparent;
   height: 2rem;
   margin: auto; 
   border-bottom: 2px solid rgb(107, 169, 250);
}

.comment-input:hover {
    border-bottom: 2px solid teal;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-5px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-5px);
    }
  }



