.container {
    width: 100vw;
    height: 100vh;
    background: url("../assets/forest2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.login-box {
    width: 300px;
    height: 400px;
    background-color: rgba(248, 248, 255, 0.658);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.form-container {
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 1rem;
}

.username-div {
    margin: 3rem 0 2rem 0;
}

form {
    width: 100%;
}

form div {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: 0;
    border-bottom: 2px solid lightgray;
    outline: 0;
    width: 85%;
    height: 27px;
    font-size: 20px;;
    margin-right: .5rem;
    transition: .75s;
    border-radius: 5px;
}

input:hover {
    border-bottom: 2px solid darkcyan;
}

#password-input{
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    margin: 3rem 0 0 0;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.button-div button{
    border: none;
    background: linear-gradient(120deg, #2845d6, #2e95f7, #8f96fa);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
    width: 90%;
    height: 35px;
    font-size: 17px;
}

.button-div button:hover {
    background-position: right;
}

.error-div {
    margin: auto;
    width: 90%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    justify-self: center;
}
